# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.js text
*.jsx text
*.ts text
*.tsx text
*.json text
*.css text
*.scss text
*.html text
*.md text

# Documentation
*.md text
*.txt text
LICENSE text

# Graphics
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.svg text

# Fonts
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary

# Enforce Unix newlines
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf 